{% extends 'base.html' %}
{% load static %}

{% block title %}註冊{% endblock %}

{% block css_style %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/styles/styles.css' %}">
{% endblock %}

{% block body %}
<h2>註冊</h2>
<form method="post">
    {% csrf_token %}
    <p>請輸入你的用戶名稱: {{ form.username }}</p>
    <p>請輸入你的信箱地址: {{ form.email }}</p>
    <p>請輸入你的密碼: {{ form.password1 }}</p> 
    <p>請再次輸入你的密碼: {{ form.password2 }}</p>
    
    <button type="submit">提交</button>
</form>

{% endblock %}