{% load static %}

<!DOCTYPE html>
<HTML>
<HEAD>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<TITLE>{% block title %}My Meetups{% endblock %}</TITLE>
	<link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
	{% block site_css %}{% endblock %}
</HEAD>
<BODY>
	<header id="main-header">
		<nav><a href="/meetups" id="main-logo">DjangoMeetups</a></nav>
		<h1>{% block main_heading %}{% endblock %}</h1>
		{% block header_content %}{% endblock %}
	</header>
	<main>
		{% block body %}{% endblock %}
	</main>
</BODY>
</HTML>